@{
  Layout = "_Layout";
}

<h1>Eu Claire Salon</h1>
<h3>Welcome Claire</h3>
<br>
<p>Click here to see a list of your stylists</p>
<p>@Html.ActionLink("Stylists", "Index", "Stylists")</p>
<br>
<p>Click here to see a list of your clients</p>
<p>@Html.ActionLink("Clients", "Index", "Clients")</p>